:root {
    --line-border-fill: rgb(201, 0, 77);
    --line-border-empty: rgb(165, 165, 165);
}

.more {
    display: flow-root;
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 900px;
}

.examples {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.example {
    border: 3px rgb(255, 255, 255) solid;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.fix-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

@media screen and (max-width: 1000px) {
    .examples {
        grid-template-columns: 1fr;
    }
}

.sub-title {
    color: white;
    font-size: 1.5rem;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* animated nav */


.anim-nav {
    background-color: var(--line-border-fill);
    padding: 20px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: width 0.6s linear;
    overflow-x: hidden;
    margin: 20px;
}

.anim-nav.active-nav {
    width: 350px;
}

.anim-nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 0;
    transition: width 0.6s linear;
}

.anim-nav.active-nav ul{
    width: 100%;
}

.anim-nav ul li {
    transform: rotateY(0deg);
    opacity: 0;
    transition: transform 0.6s linear, opacity 0.6s linear;
}

.anim-nav.active-nav ul li {
    opacity: 1;
    transform: rotateY(360deg);
}

.anim-nav ul a {
    position: relative;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}

.anim-nav-icon {
    background-color: var(--line-border-fill);
    border: 0;
    cursor: pointer;
    padding: 0;
    position: relative;
    height: 30px;
    width: 30px;
}

.anim-nav-icon:focus {
    outline: 0;
}

.anim-nav-icon .line {
    background-color: white;
    height: 2px;
    width: 20px;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: transform 0.6s linear;
}

.anim-nav-icon .line2 {
    top: auto;
    bottom: 10px;
}

.anim-nav.active-nav .anim-nav-icon .line1 {
    transform: rotate(-765deg) translateY(5.5px);
}

.anim-nav.active-nav .anim-nav-icon .line2 {
    transform: rotate(765deg) translateY(-5.5px);
}

/* CSS loader */

.kinetic-container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}

.kinetic {
    position: relative;
    height: 80px;
    width: 80px;
}

.kinetic::after,
.kinetic::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    border: 50px solid transparent;
    border-bottom-color: var(--line-border-fill);
    animation: rotateA 2s linear infinite 0.5s;
}

.kinetic::before {
    transform: rotate(90deg);
    animation: rotateB 2s linear infinite;
}

@keyframes rotateA {
    0%,
    25% {
        transform: rotate(0deg);
    }

    50%,
    75% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateB {
    0%,
    25% {
        transform: rotate(90deg);
    }

    50%,
    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(450deg);
    }
}

/* Drag and Drop */

.dragndrop-container {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    padding: 20px;
}

.empty {
    height: 60px;
    width: 60px;
    margin: 10px;
    border: solid 3px var(--line-border-fill);
    background: rgb(46, 46, 46);
}

.fill {
    background-image: url("/src/drag-img.jpg");
    background-size: 54px 54px;
    height: 54px;
    width: 54px;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.hold {
    border: solid 2px #ccc;
}

.hovered {
    background-color: #333;
    border-color: white;
    border-style: dashed;
}

@media(max-width: 500px) {
    .dragndrop-container {
        flex-direction: column;
    }
}

/* Notifications */

.notification-container {
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
}

.btn-notification {
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: 100px;
    padding: 1rem;
    margin: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-notification-error, .toast-error {
    background-color: rgb(165, 0, 82);
}

.btn-notification-success, .toast-success {
    background-color: rgb(45, 167, 45);
}

.btn-notification-danger, .toast-danger {
    background-color: rgb(235, 174, 61);
}

.btn-notification:focus {
    outline: none;
}

.btn-notification:active {
    transform: scale(0.98);
}

#toasts {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.toast {
    color: white;
    border-radius: 5px;
    padding: 1rem 2rem;
    margin: 0.5rem;
}

.btn-notification-container {
    display: flex;
    flex-direction: row;
}

@media(max-width: 500px) {
    .btn-notification-container {
        flex-direction: column;
    }

    .slider-container {
        flex-direction: column;
    }
}

/* Progress steps */
.progress-steps {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 90%;
    width: 350px;
}

.progress-container::before {
    content: "";
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: 1;
}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: 2;
    transition: 0.4s ease;
}

.circle-progress {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
    z-index: 3;
}

.circle-progress.active-progress {
    border-color: var(--line-border-fill);
}

.progress-btn {
    background-color: var(--line-border-fill);
    color: rgb(255, 255, 255);
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.progress-btn:active {
    transform: scale(0.98);
}

.progress-btn:focus {
    outline: 0;
}

.progress-btn:disabled {
    background-color: var(--line-border-empty);
}

/* Sliders */

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-slider-container {
    margin: 10px 0;
}

.toggle-slider {
    visibility: hidden;
}

.label-slider {
    background-color: grey;
    cursor: pointer;
    border-radius: 50px;
    display: inline-block;
    margin: 0 15px 0;
    width: 80px;
    height: 40px;
    position: relative;
}

.toggle-slider:checked + .label-slider {
    background-color: var(--line-border-fill);
}

.ball-slider {
    height: 34px;
    width: 34px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    align-items: center;
    justify-content: center;
    animation: slideOff 0.3s linear forwards;
}

.span-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.toggle-slider:checked + .label-slider .ball-slider {
    animation: slideOn 0.3s linear forwards;
}



@keyframes slideOn {
    0% {
        transform: translateX(0) scale(1);
    }

    50% {
        transform: translateX(20px) scale(1.2);
    }

    100% {
        transform: translateX(40px) scale(1);
    }
}

@keyframes slideOff {
    0% {
        transform: translateX(40px) scale(1);
    }

    50% {
        transform: translateX(20px) scale(1.2);
    }

    100% {
        transform: translateX(0) scale(1);
    }
}

/* range slider */

.range-container {
    display: flex;
    background: none;
    justify-content: center;
    position: relative;
    height: 50px;
    padding: 40px 0;
}

input[type="range"] {
    width: 300px;
    margin: 18px 0;
    background: none;
    -webkit-appearance: none;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"] + label {
    background-color: #fff;
    position: absolute;
    top: 10px;
    left: 110px;
    width: 50px;
    padding: 5px 0;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

/* Chrome & Safari */
input[type="range"]::-webkit-slider-runnable-track {
    background: var(--line-border-fill);
    border-radius: 4px;
    width: 100%;
    height: 10px;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid var(--line-border-fill);
    margin-top: -7px;
    cursor: pointer;
}

/* Firefox */
input[type="range"]::-moz-range-track {
    background: var(--line-border-fill);
    border-radius: 4px;
    width: 100%;
    height: 13px;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid var(--line-border-fill);
    margin-top: -7px;
    cursor: pointer;
}

/* IE */
input[type="range"]::-ms-track {
    background: var(--line-border-fill);
    border-radius: 4px;
    width: 100%;
    height: 13px;
    cursor: pointer;
}

input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid var(--line-border-fill);
    margin-top: -7px;
    cursor: pointer;
}

/* wave form input */
.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px rgb(255, 255, 255) solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: var(--line-border-fill);
    transition: 0.4s ease;
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    color: white;
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
    color: var(--line-border-fill);
    transform: translateY(-30px);
}

/* Color scheme */

.color-scheme {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 90%;
}

.scheme-circle {
    width: 60px;
    height: 60px;
    border: 3px white solid;
    border-radius: 50%;
    cursor: pointer;
}

.scheme-circle-red {
    background-color: rgb(201, 0, 77);
}

.scheme-circle-orange {
    background-color: rgb(235, 174, 61);
}

.scheme-circle-green {
    background-color: rgb(45, 167, 45);
}

.scheme-circle-purple {
    background-color: rgb(134, 0, 146);
}

.scheme-circle-blue {
    background-color: rgb(0, 183, 255);
}

/* jump element animation */
@keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        -ms-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        -ms-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        -ms-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        -ms-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        -ms-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.blast {
    opacity: 1;
    display: inline-block;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.blast:hover {
    color: rgb(255, 255, 255);
}